:root {
  --font-family: 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --text-color: #ff7f50; /* Coral color */
  --background-color: #1e1e1e; /* Dark Gray background */

  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #3498db; /* Dodger Blue */
  text-decoration: none;
  transition: color 0.25s;
}
a:hover {
  color: #e74c3c; /* Alizarin Crimson */
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-family);
  background-color: #9b59b6; /* Amethyst Purple */
  color: #ecf0f1; /* Clouds White */
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}
button:hover {
  border-color: #2f093f; /* Orange Carrot */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #2c3e50; /* Midnight Blue */
    --background-color: #ecf0f1; /* Clouds White */
  }
  a:hover {
    color: #2980b9; /* Belize Hole Blue */
  }
  button {
    background-color: #599f6b; /* Dodger Blue */
    color: #ffffff; /* Midnight Blue */
    margin: 5%;
  }
}
